// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// - Pre-generated
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
// - bemika
$bemika-green: #63C29C;
$bemika-pink: #EE3E75;
$bemika-dark-green: #479276;
$bemika-blue: #5879BC;
$bemika-white: #FFFFFF;
$bemika-black: #231F20;

// Padding
$padding-big:    24px;
$padding-medium: 16px;
$padding-small:  8px;
