@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body,
#app {
  height: 100%;
  margin: 0;
}

.layouts-main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.layouts-main-container-sidebar {
  width: 232px;
  background: red;
}

.layouts-main-container-content {
  flex: 1;
  background: yellow;
}

.layouts-sidebar-add-person {
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

.layouts-sidebar-add-person-icon {
  color: #4297b3;
  font-size: 34px;
  margin-right: 12px;
}

.layouts-sidebar-add-person-url {
  color: #4297b3;
  font-size: 24px;
  text-decoration: unset;
}

.layouts-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.layouts-nav-icon-container {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

