.activity-table-th-title {
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    display: flex;
    text-overflow: ellipsis;
    justify-content: flex-start;
}

.activity-table-th-view {
    text-align: left;
    padding: 0 8px;
}

.activity-table-th-delete {
    text-align: left;
    padding: 0 8px;
}

.activity-table-th-edit {
    text-align: left;
    padding: 0 8px;
}

.activity-table-th-description {
    text-align: left;
}
