.layouts-app{
    overflow: hidden;
}

.layouts-app-navigation {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    color: #5cd8ff;
    height: 72px;
    overflow: hidden;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layouts-app-navigation-container {
    display: flex;
    width: 190px;
    height: 100%;
}

.layouts-app-navigation-list {
    display: flex;
    width: 100%;
    height: 100%;
}

.layouts-app-navigation-item {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 10px;
}

.layouts-app-navigation-link {
    padding: 8px;
    color: #9e9e9e;
    text-decoration: unset;
}

.layouts-app-navigation-link:hover {
    color: #5cd8ff;
}

.layouts-app-navigation-main {
    height: 100%;
    background-image: url(/images/inlogImage.jpg);
}

.layouts-app-navigation-main-inner {
    position: relative;
    overflow: hidden;
}
.layouts-app-navigation-main-inner-blok{
    position: absolute;
    display: block;
    border: 3px solid #63C29C;
    color: #585757;
    border-radius: 5px;
    right: 200px;
    top: 50px;
    padding: 15px;
    background: white;
    max-width: 400px;
    box-shadow: 0px 1px 10px -3px black;
}
.layouts-app-navigation-link-container{
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.layouts-app-navigation-item-span {
    background: #5cd8ff;
    width: 100%;
    height: 4px;
}

.layouts-app-navigation-item-active {
    display: flex;
    flex-direction: column;
}

.layouts-app-navigation-link-active {
    color: #5cd8ff !important;
    margin-top: 5px;
}
.layouts-app-nav-logo{
    width: auto;
    height: 63px;
    display: block;
    margin: 0 auto;
}

.layouts-app-navigation-main-inner-blok-nav{
    display: flex;
}