.layouts-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.layouts-nav-app-name {

}

.layouts-nav-icon-container {
    display: flex;
    justify-content: space-around;
    width: 250px;
}

.layouts-nav-user {

}

.layouts-nav-icon {

}
