.layouts-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 1px 10px -3px black;
    position: relative;
    color: #5879BC !important;
}

.layouts-nav-image-logo{
    width: 85px;
}

.layouts-nav-app-name {

}

.layouts-nav-set-language{

}

.layouts-nav-icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layouts-nav-icon-container form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.layouts-nav-user {
 color: #5879BC;
 text-decoration: none;
 padding-right: 35px;
}

.layouts-nav-icon-name{
    padding-right: 7px;
}

.layouts-nav-person-icon{
    border: 1px #5879BC solid;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.layouts-nav-icon {
    border: 1px #5879BC solid;
    border-radius: 5px;
    padding: 5px;
    margin-left: 14px;
    color: #5879BC;
}

.layouts-nav-icon-question{
    padding: 8px 13px;
    font-weight: 900;
}

.layouts-nav-icon-container a{
    position: relative; 
    text-decoration: none;
}

.layouts-nav-form-language{
    display: flex;
    align-items: center;
    justify-content: center;
}

.layouts-nav-form-language label{
    width: 205px;
}

.layouts-nav-form-language input, .layouts-nav-form-language select{
    margin: 0;
}