.layouts-sidebar-add-person {
    background: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

.layouts-sidebar-add-person-icon {
    color: #4297b3;
    font-size: 34px;
    margin-right: 12px;
}

.layouts-sidebar-add-person-url {
    color: #4297b3;
    font-size: 24px;
    text-decoration: unset;
}


